@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700|Unica+One&display=swap');

$primaryHeaderFont: 'Unica';
$primaryMainFont: 'Source Sans Pro';

$orange: #FF9533;
$white: whitesmoke;
$black: #08090a;

* {
    margin: 0;
    padding: 0;
}