@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700|Unica+One&display=swap');

$primaryHeaderFont: 'Unica One';
$primaryMainFont: 'Source Sans Pro';

$orange: #FF9533;
$white: whitesmoke;
$grey: #b8b8b8;
$black: #08090a;

$lightGrey: whitesmoke;

* {
    margin: 0;
    padding: 0;
}

.header {
    font-family: $primaryHeaderFont;
    text-align: center;
    font-weight: 500;
    margin: 25px 0px 25px 0px;
    font-size: 18px;
    @media (min-width: 700px) {
        font-size: 24px;
    }
}
body {
    background-color: $white;
}