@import 'GlobalStyles.scss';

.nav {
    display: flex;
    position: fixed;
    background-color: $black;
    top: 0;
    height: 70px;
    width: 100%;
    justify-content: flex-end;
    padding-right: 5px;
    box-sizing: border-box;
    z-index: 1;
    @media (min-width: 450px) {
        padding-right: 10px;
    }
}
$animate: all 0.2s ease-in-out;

.navLinks1 {
    top: 0px;
    font-family: $primaryHeaderFont;
    font-size: 15px;
    color: $grey !important;
    position: relative;
    text-decoration: none;
    line-height: 70px;
    z-index: 1;
    padding: 0px 5px;
    justify-self: flex-end;
    @media (min-width: 500px) {
        font-size: 18px !important;
        padding: 0px 10px;
    }
    @media (min-width: 700px) {
        padding: 0px 30px;
    }
    &:hover {
        color: $white !important;
    }
    &:before {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        bottom: 25%;
        left: 60;
        background-color: $orange;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        @media (min-width: 700px) {
            width: 60px;
        }
      }
      &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
}
a:hover {
    text-decoration: none !important;
}
.navLinks2 {
    top: 0px;
    font-family: $primaryHeaderFont;
    font-size: 15px;
    color: $grey !important;
    text-decoration: none;
    line-height: 70px;
    position: relative;
    z-index: 1;
    padding: 0px 5px;
    justify-self: flex-end;
    @media (min-width: 500px) {
        font-size: 18px;
        padding: 0px 10px;
    }
    @media (min-width: 700px) {
        font-size: 18px;
        padding: 0px 30px;
    }
    &:hover {
        color: $white !important;
    }
    &:before {
        content: "";
        position: absolute;
        width: 38px;
        height: 2px;
        bottom: 25%;
        left: 60;
        background-color: $orange;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        @media (min-width: 700px) {
            width: 45px;
        }
      }
      &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
}

.navbarLogo {
    height: 35px;
    position: absolute;
    left: 20px;
    top: 20px;
    @media (min-width: 500px) {
        height: 45px;
        top: 12px;
    }
}
.homeContainer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 5 (300px);
    // grid-gap: 2px;
    margin-top: 50px;
    @media (min-width: 1100px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4 (300px);
    }
}
.homeImage {
    width: 100%;
    height: auto;
    grid-column: 1/-1;
    grid-row: 1/2;
    display: block;
    background-color: $grey;
}
.imageSquare {
    width: 50%;
}
.upcomingShowsContainer {
    display: flex;
    grid-column: 1/-1;
    grid-row: 2/3; 
    @media (min-width: 1100px) {
        grid-column: 1/2;
        grid-row: 2/3; 
    }
}
.videoContainer {
    position: relative;
    display: flex;
    grid-column: 1/-1;
    grid-row: 3/4; 
    @media (min-width: 1100px) {
        grid-column: 2/3;
        grid-row: 2/3; 
    }
}
.soundCloudContainer {
    display: flex;
    grid-column: 1/-1;
    grid-row: 2/3; 
    border-top: $orange 5px solid;
    @media (min-width: 1100px) {
        grid-column: 1/-1;
        grid-row: 3/4; 
    }
}
.aboutContainer {
    display: flex;
    grid-column: 1/-1;
    grid-row: 4/5;
    @media (min-width: 1100px) {
        grid-column: 1/2;
        grid-row: 4/5;
    }
}
.socialContainer {
    display: flex;
    grid-column: 1/-1;
    grid-row: 5/6;
    @media (min-width: 1100px) {
        grid-column: 2/3;
        grid-row: 4/5;
    }
}
.video {
    position: relative;
    display: flex;
    border-top: $orange 5px solid;
    // max-height: 400px;
    &:focus {
        outline: none; 
    } 
}
video:focus {
    outline: none; 
}

.about {
    background-color: $orange;
}
.quoteDiv {
    position: absolute;
    text-align: center;
    bottom: 60px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 80%;
    grid-column: 1/-1;
    grid-row: 3/4; 
    @media (min-width: 1100px) {
        grid-column: 2/3;
        grid-row: 2/3; 
    }
}
.quote {
    color: white;
    font-family: $primaryHeaderFont;
    font-size: 22px;
    font-weight: 500;
    left: 0;
    right: 0;
    margin: auto;
    text-shadow: #333333 3px 3px 5px;
    @media (min-width: 500px) {
        font-size: 30px;
    }
    @media (min-width: 750px) {
        font-size: 36px;
        text-shadow: #333333 3px 3px 7px;
    }
    @media (min-width: 1000px) {
        font-size: 40px;
    }
    @media (min-width: 1500px) {
        font-size: 60px;
    }
}
.quoteLuva {
    color: white;
    font-family: $primaryHeaderFont;
    font-size: 22px;
    font-weight: 500;
    left: 0;
    right: 0;
    margin: auto;
    text-shadow: #333333 3px 3px 5px;
    @media (min-width: 500px) {
        font-size: 30px;
    }
    @media (min-width: 750px) {
        font-size: 36px;
        text-shadow: #333333 3px 3px 7px;
    }
    @media (min-width: 1000px) {
        font-size: 40px;
    }
    @media (min-width: 1500px) {
        font-size: 60px;
    }
}
.aboutMe {
    font-family: $primaryMainFont;
    text-align: center;
    padding: 0px 40px 30px 40px;
    line-height: 1.8;
    font-size: 15px;
    @media (min-width: 700px) {
        font-size: 16px;
        padding: 0px 50px 30px 50px;
    }
    @media (min-width: 1300px) {
        font-size: 18px;
        padding: 0px 80px 30px 80px;
    }
    @media (min-width: 1400px) {
        font-size: 19px;
        padding: 0px 100px 30px 100px;
    }
    @media (min-width: 1400px) {
        padding: 20px 120px 30px 120px;
    }
}

/////////////////////////////////////////// dropdown
.bookingbutton {
    border: none !important;
    margin: 0;
}
.navlinkcolor {
    background-color: $white !important;
    padding: 5px 15px;
    color: #b8b8b8;
    border-radius: 0;
    margin: 0;
    font-family: 'Unica One';
    font-size: 15px !important;
    @media (min-width: 500px) {
        font-size: 18px !important;
    }
}
.navlinkcolor:hover {
    background-color: $orange !important;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
.dropdown-menu {
    padding: 0 !important;
    margin: 0 !important;
    min-width: 0px !important;
    border-radius: 0 !important;
    border: 2px $black solid !important;
}
.dropdown {
    width: auto;
    position: relative;
}
.dropdown-item {
    padding: 5px 15px !important;
    background-color: $orange;
    &:focus {
        outline: none; 
    } 
}
.btn {
    display: inherit !important;
}
.dropdownMain {
    display: flex !important;
}
.loginLink {
    position: relative;
}
.djLogin {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-family: $primaryHeaderFont;
    color: $grey
}