@import 'GlobalStyles.scss';

// .app {
//     display: grid;   
// }
.nav {
    display: flex;
    position: fixed;
    background-color: $black;
    top: 0;
    height: 50px;
    width: 100vw;
}
$animate: all 0.2s ease-in-out;

.navLinks1 {
    top: 0px;
    font-family: $primaryHeaderFont;
    font-size: 18px;
    color: $grey;
    text-decoration: none;
    line-height: 50px;
    z-index: 1;
    width: 100vw;
    &:hover {
        color: $white;
        // text-decoration: underline;
        // text-decoration-color: $orange;  
    }
    &:before {
        content: "";
        position: absolute;
        width: 5%;
        height: 2px;
        bottom: 25%;
        left: 60;
        background-color: $orange;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
}
.navLinks2 {
    top: 0px;
    font-family: $primaryHeaderFont;
    font-size: 18px;
    color: $grey;
    text-decoration: none;
    line-height: 50px;
    z-index: 1;
    width: 100vw;
    &:hover {
        color: $white;
        // text-decoration: underline;
        // text-decoration-color: $orange;  
        // text-decoration: 2px;
    }
    &:before {
        content: "";
        position: absolute;
        width: 3.8%;
        height: 2px;
        bottom: 25%;
        left: 60;
        background-color: $orange;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
}
.navbarLogo {
    height: 35px;
    margin: 5px 600px 5px 50px;
}
.homeContainer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 5 (300px);
    grid-gap: 2px;
    margin-top: 50px;
    // padding: 25px;
    @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3 (300px);
    }
}
.homeImage {
    width: 100%;
    height: auto;
    grid-column: 1/-1;
    grid-row: 1/2;
    display: block;
}
.imageSquare {
    width: 50%;
}
.soundCloudContainer {
    display: flex;
    grid-column: 1/-1;
    grid-row: 2/3; 
    @media (min-width: 700px) {
        grid-column: 1/2;
        grid-row: 2/3; 
    }
}
.upcomingShowsContainer {
    display: flex;
    grid-column: 1/-1;
    grid-row: 3/4; 
    @media (min-width: 700px) {
        grid-column: 2/3;
        grid-row: 2/3; 
    }
}
.aboutContainer {
    display: flex;
    grid-column: 1/-1;
    grid-row: 4/5;
    @media (min-width: 700px) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}
.socialContainer {
    display: flex;
    grid-column: 1/-1;
    grid-row: 5/6;
    @media (min-width: 700px) {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}
.about {
    background-color: $orange;
}
.aboutMe {
    font-family: $primaryMainFont;
    text-align: center;
    padding: 0px 50px 50px 50px;
    line-height: 1.8;
    font-size: 15px;
    @media (min-width: 700px) {
        font-size: 20px;
    }
}