@import './GlobalStyles.scss';

#video {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover; 

}
.upcomingShows {
    // background-image: url('../Images/Luva-14.jpg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    display: flex;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    background-color: $grey;
    min-height: 400px;
    height: 480px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    @media (min-width: 501px) {
        height: 500px;
    }
    @media (min-width: 900px) {
        height: 500px;
    }
    @media (min-width: 1100px) {
        height: 780px;
    }
}